@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* I am the inter font */

body {
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Nav area begins (Used on subpage2) */

nav {
    font-family: "Inter", sans-serif;
    background-color: #FAEBD7;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-height: 100px;
    padding: 0px;
}

nav .links {
    display: flex;
    justify-content: center;
}

nav .links a {
    text-align: center;
    color: #2F4F4F;
    text-decoration: none;
    padding: 35px;
}

nav .links a:hover {
    background-color: #2F4F4F;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

#logo_link .links {
    display: flex;
}

.logo {
    height: 105px;
    padding: 0px;
}

/* Nav area ends */

/* Shoe category grid begins */

.title {
    font-family: "Arial", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: -20px;
    color: #2F4F4F;
}

.shoe-grid {
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 50px;
}

.shoe-card {
    border-radius: 5px;
    border: #0A3943 2px solid;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

.card-img {
    width: 200px;
    height: auto;
}

/* Shoe category grid ends */

/* Footer area begins */

footer {
    font-family: "Inter", sans-serif;
    background-color: #FAEBD7;
    color: #2F4F4F;
    padding: 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-height: 100px;
}

footer a {
    color: #2F4F4F;
    text-decoration: none;
}

footer a:hover {
    color: #0A3943;
}

.footer-links .right-footer-links {
    display: flex;
}
/* Footer area ends */