body {
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Nav area begins (Used on subpage2) */

nav {
    background-color: #FAEBD7;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-height: 100px;
    padding: 0px;
}

nav .links {
    display: flex;
    justify-content: center;
}

nav .links a {
    text-align: center;
    color: #2F4F4F;
    text-decoration: none;
    padding: 35px;
}

nav .links a:hover {
    background-color: #2F4F4F;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

#logo_link .links {
    display: flex;
}

.logo {
    height: 105px;
    padding: 0px;
}

/* Nav area ends */

/* Shoe category grid begins */

.shoe-grid {
    display: grid;
    grid-template-columns: 3, 2;
    gap: 20px;
    padding: 20px;
}

.shoe-card {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.card-img {
    width: 200px;
    height: auto;
}

